@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

@font-face {
    font-family: 'Stem';
    src: url('../fonts/stem/Stem-Light.eot');
    src: local('☺'), url('../fonts/stem/Stem-Light.woff') format('woff'), url('../fonts/stem/Stem-Light.ttf') format('truetype'), url('../fonts/stem/Stem-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Stem';
	src: url('../fonts/stem/Stem-Medium.eot');
	src: local('☺'), url('../fonts/stem/Stem-Medium.woff') format('woff'), url('../fonts/stem/Stem-Medium.ttf') format('truetype'), url('../fonts/stem/Stem-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Stem';
	src: url('../fonts/stem/Stem-Regular.eot');
	src: local('☺'), url('../fonts/stem/Stem-Regular.woff') format('woff'), url('../fonts/stem/Stem-Regular.ttf') format('truetype'), url('../fonts/stem/Stem-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:  url('../fonts/icons/icons.eot');
	src:  url('../fonts/icons/icons.eot') format('embedded-opentype'),
	  url('../fonts/icons/icons.ttf') format('truetype'),
	  url('../fonts/icons/icons.woff') format('woff'),
	  url('../fonts/icons/icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="_icon-"], [class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-cart:before {
	content: "\e900";
  }
  ._icon-check:before {
	content: "\e901";
  }
  ._icon-close:before {
	content: "\e902";
  }
  ._icon-diagram:before {
	content: "\e903";
  }
  ._icon-fav:before {
	content: "\e904";
  }
  ._icon-fb:before {
	content: "\e905";
  }
  ._icon-inst:before {
	content: "\e906";
  }
  ._icon-search:before {
	content: "\e907";
  }
  ._icon-user:before {
	content: "\e908";
  }
  ._icon-vk:before {
	content: "\e909";
  }
  ._icon-youtube:before {
	content: "\e90a";
  }
  