@import url(null.css);
@import url(fonts.css);
body {
  font-family: "Stem", sans-serif;
  font-weight: 300;
  color: #1d1700;
}

.container {
  max-width: 1834px;
  padding: 10px;
  margin: 0 auto;
}

.content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.content-title span {
  display: inline-block;
  width: 44px;
  margin-right: 19.36px;
  height: 1.36px;
  background-color: #0278e5;
}

@media screen and (max-width: 1834px) {
  .content-title span {
    width: calc( 20px + 24 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1834px) {
  .content-title span {
    margin-right: calc( 5px + 14.36 * ((100vw - 576px) / (1834 - 576)));
  }
}

.header {
  position: relative;
  padding-top: 58px;
  padding-bottom: 40px;
  margin-bottom: 63px;
}

@media screen and (max-width: 1834px) {
  .header {
    padding-top: calc( 10px + 48 * ((100vw - 320px) / (1834 - 320)));
  }
}

@media screen and (max-width: 1834px) {
  .header {
    padding-bottom: calc( 10px + 30 * ((100vw - 320px) / (1834 - 320)));
  }
}

@media screen and (max-width: 1834px) {
  .header {
    margin-bottom: calc( 30px + 33 * ((100vw - 320px) / (1834 - 320)));
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 42px;
  margin-right: 101px;
}

@media screen and (max-width: 1834px) {
  .header__logo {
    margin-right: calc( 35px + 66 * ((100vw - 768px) / (1834 - 768)));
  }
}

.header__logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  margin-right: 54px;
}

@media screen and (max-width: 1834px) {
  .header__nav {
    margin-right: calc( 10px + 44 * ((100vw - 768px) / (1834 - 768)));
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.header__nav-item {
  text-transform: uppercase;
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
}

.header__nav-item:not(:last-child) {
  margin-right: 51px;
}

@media screen and (max-width: 1834px) {
  .header__nav-item:not(:last-child) {
    margin-right: calc( 26px + 25 * ((100vw - 768px) / (1834 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) and (max-width: 1834px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: calc( 6px + 44 * ((100vw - 320px) / (1834 - 320)));
  }
}

.header__nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-150%);
          transform: translateY(-50%) translateX(-150%);
  left: 0;
  width: 13px;
  height: 100%;
  background-image: url(../../assets/icons/header-nav.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav-item_active {
  color: #0278e5;
}

@media screen and (max-width: 768px) {
  .header__nav-item {
    color: white;
    font-size: 1.475rem;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

@media screen and (max-width: 768px) {
  .header__options {
    display: none;
  }
}

.header__icon {
  margin-right: 0;
  margin-left: auto;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: calc(768px + 1px)) {
  .header__icon {
    display: none;
  }
}

.header__mobile {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__mobile._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: calc(768px + 1px)) {
  .header__mobile {
    display: none;
  }
}

.mobile-header {
  overflow: scroll;
  padding: 30px;
}

.mobile-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 15px;
}

.mobile-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  white-space: nowrap;
}

.mobile-header__options {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
}

.options-header__item {
  position: relative;
  display: inline-block;
}

.options-header__item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (max-width: 1834px) {
  .options-header__item:not(:last-child) {
    margin-right: calc( 8px + 10 * ((100vw - 768px) / (1834 - 768)));
  }
}

.options-header__item a {
  background-color: #faf8f7;
  padding: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
}

.options-header__item_btn a {
  border-radius: 39px;
  padding: 12px 28px;
}

.options-header__item::after {
  position: absolute;
  background-color: white;
  font-size: 0.875rem;
  width: 21px;
  line-height: 19px;
  top: -100%;
  right: -10%;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #1d1700;
}

.options-header__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-80%) translateX(20%);
          transform: translateY(-80%) translateX(20%);
  text-align: center;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border: 1px solid #1d1700;
  background-color: white;
}

.menu-icon {
  padding: 10px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon span, .menu-icon::before, .menu-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #0278e5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-icon::before, .menu-icon::after {
  content: "";
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon._active span {
  top: 50%;
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
  background-color: #fff;
}

.menu-icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  background-color: #fff;
}

.menu-icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  background-color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 140px;
          column-gap: 140px;
}

.main__sidebar {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  background-color: red;
}

@media screen and (max-width: 1440px) {
  .main__sidebar {
    display: none;
  }
}

.main__content {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1440px) {
  .main__content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
          column-gap: 34px;
  margin-bottom: 37px;
}

@media screen and (max-width: 1834px) {
  .banner {
    -webkit-column-gap: calc( 8px + 26 * ((100vw - 1024px) / (1834 - 1024)));
            column-gap: calc( 8px + 26 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1834px) {
  .banner {
    margin-bottom: calc( 15px + 22 * ((100vw - 768px) / (1834 - 768)));
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.banner__section {
  background-color: #faf8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  -webkit-column-gap: 78px;
          column-gap: 78px;
  padding-left: 110px;
  padding-right: 110px;
}

@media screen and (max-width: 1834px) {
  .banner__section {
    -webkit-column-gap: calc( 50px + 28 * ((100vw - 1024px) / (1834 - 1024)));
            column-gap: calc( 50px + 28 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1834px) {
  .banner__section {
    padding-left: calc( 50px + 60 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1834px) {
  .banner__section {
    padding-right: calc( 50px + 60 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 576px) {
  .banner__section {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 20px;
  }
}

.banner__picture {
  max-width: 170px;
  height: 113px;
}

.banner__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner__text {
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 1.25rem;
}

.catalog__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 29px;
}

@media screen and (max-width: 1834px) {
  .catalog__tags {
    gap: calc( 5px + 8 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1834px) {
  .catalog__tags {
    margin-bottom: calc( 20px + 9 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 576px) {
  .catalog__tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: scroll;
    max-height: 300px;
  }
}

.catalog__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

@media screen and (max-width: 1834px) {
  .catalog__sort {
    margin-bottom: calc( 20px + 9 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 576px) {
  .catalog__sort {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  margin-bottom: 94px;
}

@media screen and (max-width: 1834px) {
  .catalog__grid {
    margin-bottom: calc( 50px + 44 * ((100vw - 576px) / (1834 - 576)));
  }
}

.catalog__search {
  padding: 35px 30px;
  background-color: #faf8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-bottom: 94px;
}

@media screen and (max-width: 1834px) {
  .catalog__search {
    gap: calc( 20px + 40 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1834px) {
  .catalog__search {
    margin-bottom: calc( 50px + 44 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 576px) {
  .catalog__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tags__item {
  border: 2px solid #0278e5;
  color: #0278e5;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 10px 16px;
  background-color: white;
  border-radius: 37px;
}

.tags__item._active {
  background-color: #0278e5;
  color: white;
}

.sorting__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-right: 10px;
}

.sorting__select {
  border: 1px solid #1d1700;
  padding: 12px 31px 12px 12px;
  border-radius: 4px;
  background-image: url(../../assets/img/caret.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__select:focus {
  outline: none;
}

.sorting__select option {
  font-family: "Stem", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.grid-catalog__item {
  -ms-flex-preferred-size: calc((100% / 3) - 42px);
      flex-basis: calc((100% / 3) - 42px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #faf8f7;
  padding: 28px;
}

@media screen and (max-width: 1834px) {
  .grid-catalog__item {
    padding: calc( 20px + 8 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1200px) {
  .grid-catalog__item {
    -ms-flex-preferred-size: calc((100% / 2) - 42px);
        flex-basis: calc((100% / 2) - 42px);
  }
}

@media screen and (max-width: 768px) {
  .grid-catalog__item {
    -ms-flex-preferred-size: calc(100% - 42px);
        flex-basis: calc(100% - 42px);
  }
}

.catalog-item__picture {
  margin-bottom: 14px;
  max-width: 364px;
  margin: 0 auto;
}

@media screen and (max-width: 1834px) {
  .catalog-item__picture {
    margin-bottom: calc( 8px + 6 * ((100vw - 576px) / (1834 - 576)));
  }
}

.catalog-item__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.catalog-item__title {
  font-weight: 500;
  font-size: 1.125rem;
  color: #0278e5;
  text-align: center;
  margin-bottom: 31px;
}

@media screen and (max-width: 1834px) {
  .catalog-item__title {
    margin-bottom: calc( 15px + 16 * ((100vw - 576px) / (1834 - 576)));
  }
}

.catalog-item__parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
}

.catalog-item__parameter:not(:last-child) {
  margin-bottom: 4px;
}

.catalog-item__parameter_name {
  text-align: left;
}

.catalog-item__parameter_value {
  text-align: right;
}

.catalog-item__info {
  margin-top: 31px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1834px) {
  .catalog-item__info {
    margin-top: calc( 15px + 16 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1834px) {
  .catalog-item__info {
    margin-bottom: calc( 15px + 10 * ((100vw - 576px) / (1834 - 576)));
  }
}

.catalog-item__price {
  font-size: 1.25rem;
  color: #0278e5;
  font-weight: 500;
}

.catalog-item__price_old {
  font-size: 0.875rem;
  font-weight: 300;
  color: #1d1700;
  text-decoration: line-through;
}

.catalog-item__status {
  font-size: 0.875rem;
  text-align: right;
  white-space: nowrap;
}

.catalog-item__status span {
  font-family: "Stem", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}

@media screen and (max-width: 320px) {
  .catalog-item__status span {
    font-size: 0.75rem;
  }
}

.catalog-item__status._icon-check::before {
  color: #c5f3af;
}

.catalog-item__status._icon-close::before {
  color: #f3d8af;
}

@media screen and (max-width: 320px) {
  .catalog-item__status {
    font-size: 0.75rem;
  }
}

.catalog-item__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .catalog-item__toolbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .catalog-item__toolbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}

.catalog-item__cart {
  background-color: #fff;
  border-radius: 20px;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 9px 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item__cart span {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .catalog-item__cart {
    margin-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .catalog-item__cart {
    margin-right: 0;
  }
}

.catalog-item__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item__options_item a {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
}

.catalog-item__options_item:not(:last-child) {
  margin-right: 23px;
}

@media screen and (max-width: 1834px) {
  .catalog-item__options_item:not(:last-child) {
    margin-right: calc( 5px + 18 * ((100vw - 576px) / (1834 - 576)));
  }
}

.search-catalog__input {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

@media screen and (max-width: 576px) {
  .search-catalog__input {
    width: 100%;
  }
}

.search-catalog__input input {
  width: 100%;
  line-height: 54px;
  padding-left: 36px;
  font-weight: 300;
  font-size: 1.125rem;
  color: #d7d5d5;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 1834px) {
  .search-catalog__input input {
    padding-left: calc( 20px + 16 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 576px) {
  .search-catalog__input input {
    font-size: 0.9rem;
  }
}

.search-catalog__btn {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.search-catalog__btn a,
.search-catalog__btn input {
  background-color: #0278e5;
  padding: 16px 61px;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 27px;
  color: white;
}

@media screen and (max-width: 576px) {
  .search-catalog__btn {
    margin-top: 30px;
  }
}

.advantages {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 1834px) {
  .advantages {
    margin-bottom: calc( 40px + 60 * ((100vw - 576px) / (1834 - 576)));
  }
}

.advantages__title {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 42px;
}

@media screen and (max-width: 1834px) {
  .advantages__title {
    margin-bottom: calc( 20px + 22 * ((100vw - 576px) / (1834 - 576)));
  }
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

@media screen and (max-width: 1834px) {
  .advantages__content {
    gap: calc( 15px + 27 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 1024px) {
  .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
}

@media screen and (max-width: 1834px) {
  .advantages__list {
    row-gap: calc( 15px + 27 * ((100vw - 576px) / (1834 - 576)));
  }
}

.advantages__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 387px;
  background-image: url(../../assets/img/advantages/slider_main5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.advantages__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantages__text {
  font-weight: 500;
  color: #0278e5;
  font-size: 2.25rem;
  max-width: 397px;
  padding: 5px;
}

@media screen and (max-width: 576px) {
  .advantages__text {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
  }
}

.adv-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #faf8f7;
  gap: 36px;
  padding: 25px 50px;
}

@media screen and (max-width: 1834px) {
  .adv-item {
    gap: calc( 15px + 21 * ((100vw - 576px) / (1834 - 576)));
  }
}

@media screen and (max-width: 576px) {
  .adv-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.adv-item__icon {
  width: 52.07px;
  height: 52.07px;
}

.adv-item__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.adv-item__text {
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  .adv-item__text {
    white-space: inherit;
  }
}

.schema {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 1834px) {
  .schema {
    margin-bottom: calc( 20px + 80 * ((100vw - 576px) / (1834 - 576)));
  }
}

.schema__title {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 42px;
}

@media screen and (max-width: 1834px) {
  .schema__title {
    margin-bottom: calc( 20px + 22 * ((100vw - 576px) / (1834 - 576)));
  }
}

.schema__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 480px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .schema__content {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (max-width: 576px) {
  .schema__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.schema__item:nth-child(2), .schema__item:nth-child(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .schema__item:nth-child(2), .schema__item:nth-child(4) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.schema__item {
  background-color: #faf8f7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  width: 208px;
  height: 208px;
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

.schema__item_title {
  font-size: 1.75rem;
  font-weight: 500;
}

.schema__item_text {
  max-width: 175px;
  font-size: 1.125rem;
}

.news__title {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 42px;
}

@media screen and (max-width: 1834px) {
  .news__title {
    margin-bottom: calc( 20px + 22 * ((100vw - 576px) / (1834 - 576)));
  }
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 42px;
}

.news__item {
  -ms-flex-preferred-size: calc((100% / 3) - 42px);
      flex-basis: calc((100% / 3) - 42px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .news__item {
    -ms-flex-preferred-size: calc((100% / 2) - 42px);
        flex-basis: calc((100% / 2) - 42px);
  }
}

@media screen and (max-width: 768px) {
  .news__item {
    -ms-flex-preferred-size: calc(100% - 42px);
        flex-basis: calc(100% - 42px);
  }
}

.news__picture {
  margin-bottom: 20px;
}

.news__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.news__header {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 16px;
}

.news__text {
  font-size: 0.875rem;
  margin-bottom: 20px;
}

.news__btn {
  display: inline-block;
  padding: 9px 28px;
  border-radius: 20px;
  background-color: #faf8f7;
}
/*# sourceMappingURL=style.css.map */