@import url(null.css);
@import url(fonts.css);
body {
  font-family: "Stem", sans-serif;
  font-weight: 300;
  color: #1d1700;
}

.container {
  max-width: 1834px;
  padding: 10px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 58px;
  padding-bottom: 40px;
  margin-bottom: 63px;
}

@media screen and (max-width: 1834px) {
  .header {
    padding-top: calc( 10px + 48 * ((100vw - 320px) / (1834 - 320)));
  }
}

@media screen and (max-width: 1834px) {
  .header {
    padding-bottom: calc( 10px + 30 * ((100vw - 320px) / (1834 - 320)));
  }
}

@media screen and (max-width: 1834px) {
  .header {
    margin-bottom: calc( 30px + 33 * ((100vw - 320px) / (1834 - 320)));
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 42px;
  margin-right: 101px;
}

@media screen and (max-width: 1834px) {
  .header__logo {
    margin-right: calc( 35px + 66 * ((100vw - 768px) / (1834 - 768)));
  }
}

.header__logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  margin-right: 54px;
}

@media screen and (max-width: 1834px) {
  .header__nav {
    margin-right: calc( 10px + 44 * ((100vw - 768px) / (1834 - 768)));
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.header__nav-item {
  text-transform: uppercase;
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
}

.header__nav-item:not(:last-child) {
  margin-right: 51px;
}

@media screen and (max-width: 1834px) {
  .header__nav-item:not(:last-child) {
    margin-right: calc( 26px + 25 * ((100vw - 768px) / (1834 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) and (max-width: 1834px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: calc( 6px + 44 * ((100vw - 320px) / (1834 - 320)));
  }
}

.header__nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-150%);
          transform: translateY(-50%) translateX(-150%);
  left: 0;
  width: 13px;
  height: 100%;
  background-image: url(../../assets/icons/header-nav.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav-item_active {
  color: #0278e5;
}

@media screen and (max-width: 768px) {
  .header__nav-item {
    color: white;
    font-size: 1.475rem;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

@media screen and (max-width: 768px) {
  .header__options {
    display: none;
  }
}

.header__icon {
  margin-right: 0;
  margin-left: auto;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: calc(768px + 1px)) {
  .header__icon {
    display: none;
  }
}

.header__mobile {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__mobile._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: calc(768px + 1px)) {
  .header__mobile {
    display: none;
  }
}

.mobile-header {
  overflow: scroll;
  padding: 30px;
}

.mobile-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 15px;
}

.mobile-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  white-space: nowrap;
}

.mobile-header__options {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
}

.options-header__item {
  position: relative;
  display: inline-block;
}

.options-header__item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (max-width: 1834px) {
  .options-header__item:not(:last-child) {
    margin-right: calc( 8px + 10 * ((100vw - 768px) / (1834 - 768)));
  }
}

.options-header__item a {
  background-color: #faf8f7;
  padding: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
}

.options-header__item_btn a {
  border-radius: 39px;
  padding: 12px 28px;
}

.options-header__item::after {
  position: absolute;
  background-color: white;
  font-size: 0.875rem;
  width: 21px;
  line-height: 19px;
  top: -100%;
  right: -10%;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #1d1700;
}

.options-header__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-80%) translateX(20%);
          transform: translateY(-80%) translateX(20%);
  text-align: center;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border: 1px solid #1d1700;
  background-color: white;
}

.menu-icon {
  padding: 10px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon span, .menu-icon::before, .menu-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #0278e5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-icon::before, .menu-icon::after {
  content: "";
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon._active span {
  top: 50%;
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
  background-color: #fff;
}

.menu-icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  background-color: #fff;
}

.menu-icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  background-color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 176px;
          column-gap: 176px;
}

.main__sidebar {
  width: 303px;
  background-color: red;
}

@media screen and (max-width: 1440px) {
  .main__sidebar {
    display: none;
  }
}

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 34px;
          column-gap: 34px;
}

@media screen and (max-width: 1834px) {
  .banner {
    -webkit-column-gap: calc( 8px + 26 * ((100vw - 1024px) / (1834 - 1024)));
            column-gap: calc( 8px + 26 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.banner__section {
  background-color: #faf8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  -webkit-column-gap: 78px;
          column-gap: 78px;
  padding-left: 110px;
  padding-right: 110px;
}

@media screen and (max-width: 1834px) {
  .banner__section {
    -webkit-column-gap: calc( 50px + 28 * ((100vw - 1024px) / (1834 - 1024)));
            column-gap: calc( 50px + 28 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1834px) {
  .banner__section {
    padding-left: calc( 50px + 60 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 1834px) {
  .banner__section {
    padding-right: calc( 50px + 60 * ((100vw - 1024px) / (1834 - 1024)));
  }
}

@media screen and (max-width: 576px) {
  .banner__section {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 20px;
  }
}

.banner__picture {
  width: 170px;
  height: 113px;
}

.banner__picture img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner__text {
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 1.25rem;
}
/*# sourceMappingURL=style.css.map */