@import url(null.css);
@import url(fonts.css);

//Adaptive Value

@mixin adaptiveValue($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: 320) {
    #{$property}: #{$startSize + px};
    $addSize: $startSize - $minSize;
    @media screen and (max-width: #{$containerWidth + px}) {
        #{$property}: calc(
            #{$minSize + px} + #{$addSize} * ((100vw - #{$widthTo + px}) / (#{$containerWidth} - #{$widthTo}))
        );
    }
}

//Colors

$black: #1d1700;
$blue: #0278e5;
$cremWhite: #faf8f7;

//Widths
$containerWidth: 1834;
$minWidth: 320;
$tabletWidth: 768;
$mobileWidth: 576;
$largeDesktop: 1440;
$mediumDesktop: 1200;
$smallDesktop: 1024;

//Main styles

body {
    font-family: "Stem", sans-serif;
    font-weight: 300;
    color: $black;
    &._lock {
        overflow: hidden;
    }
}

.container {
    max-width: $containerWidth + px;
    padding: 10px;
    margin: 0 auto;
}

.content-title {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    & span {
        display: inline-block;
        @include adaptiveValue("width", 44, 20, $containerWidth, $mobileWidth);
        @include adaptiveValue("margin-right", 19.36, 5, $containerWidth, $mobileWidth);
        height: 1.36px;
        background-color: $blue;
    }
}

//Header

.header {
    // .header__container
    position: relative;
    @include adaptiveValue("padding-top", 58, 10, $containerWidth);
    @include adaptiveValue("padding-bottom", 40, 10, $containerWidth);
    @include adaptiveValue("margin-bottom", 63, 30, $containerWidth);
    &__container {
        display: flex;
        align-items: center;
    }

    // .header__logo

    &__logo {
        height: 42px;
        @include adaptiveValue("margin-right", 101, 35, $containerWidth, $tabletWidth);
        & img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .header__nav

    &__nav {
        @include adaptiveValue("margin-right", 54, 10, $containerWidth, $tabletWidth);
        & ul {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
        }
        &-item {
            text-transform: uppercase;
            position: relative;
            font-size: 1.25rem;
            font-weight: 500;
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 51, 26, $containerWidth, $tabletWidth);
                @media screen and (max-width: #{$tabletWidth + px}) {
                    margin-right: 0;
                    @include adaptiveValue("margin-bottom", 50, 6, $tabletWidth, $minWidth);
                }
            }
            &:hover{
                opacity: .4
            }
            // Without bg-image
            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: -12px;
            //     width: 5px;
            //     height: 100%;
            //     transform: rotate(30deg);
            //     background-color: $blue;
            // }
            //With bg-image
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-150%);
                left: 0;
                width: 13px;
                height: 100%;
                background-image: url(../../assets/icons/header-nav.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &_active {
                color: $blue;
            }
            @media screen and (max-width: #{$tabletWidth + px}) {
                color: white;
                font-size: 1.475rem;
            }
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            display: none;
        }
    }

    // .header__options

    &__options {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        @media screen and (max-width: #{$tabletWidth + px}) {
            display: none;
        }
    }

    &__icon {
        margin-right: 0;
        margin-left: auto;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        @media screen and (min-width: calc(#{$tabletWidth + px} + 1px )) {
            display: none;
        }
    }

    &__mobile {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        &._active {
            transform: translateX(0);
        }
        @media screen and (min-width: calc(#{$tabletWidth + px} + 1px )) {
            display: none;
        }
    }
}

.mobile-header {
    overflow: scroll;
    padding: 30px;
    &__nav {
        display: flex;
        margin-top: 50px;
        margin-bottom: 80px;
        padding: 15px;
        & ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            white-space: nowrap;
        }
    }
    &__options {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: center;
        justify-self: flex-end;
    }
}

.options-header {
    // .options-header__item
    &__item {
        position: relative;
        display: inline-block;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 18, 8, $containerWidth, $tabletWidth);
        }

        & a {
            background-color: $cremWhite;
            padding: 12px;
            border-radius: 50%;
            box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
        }

        // .options-header__item_btn
        &_btn {
            & a {
                border-radius: 39px;
                padding: 12px 28px;
            }
        }

        &::after {
            position: absolute;
            background-color: white;
            font-size: 0.875rem;
            width: 21px;
            line-height: 19px;
            top: -100%;
            right: -10%;
            text-align: center;
            border-radius: 50%;
            border: 1px solid $black;
        }
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-80%) translateX(20%);
            text-align: center;
            border-radius: 50%;
            width: 21px;
            height: 21px;
            border: 1px solid $black;
            background-color: white;
        }
    }
}

.menu-icon {
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
    & span,
    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 15%;
        background-color: $blue;
        transition: all 0.5s ease 0s;
    }
    &::before,
    &::after {
        content: "";
    }
    & span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    &._active span {
        top: 50%;
        transform: scale(0) translateY(-50%);
        background-color: #fff;
    }
    &._active::before {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
        background-color: #fff;
    }
    &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
        background-color: #fff;
    }
}

//Main

.main {
    display: flex;
    @include adaptiveValue("column-gap", 140, 50, $containerWidth, $tabletWidth);
    &__sidebar {
        flex-basis: 20%;
        transition: 0.5s ease;
        @media screen and(max-width: #{$containerWidth + px}) {
            width: 30%;
        }
        @media screen and(max-width: #{$smallDesktop + px}) {
            width: 40%;
        }
        @media screen and(max-width: #{$tabletWidth + px}) {
            position: fixed;
            top: 0;
            left: 0;
            color: white;
            height: 100%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            transform: translateX(-150%);
        }
        &._active {
            overflow-y: scroll;
            width: 50%;
            transform: translateX(0%);
            @media screen and (max-width: #{$mobileWidth + px}) {
                width: 80%;
            }
        }
    }
    &__content {
        flex-basis: 80%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and(max-width: #{$containerWidth + px}) {
            width: 70%;
        }
        @media screen and(max-width: #{$smallDesktop + px}) {
            width: 60%;
        }
        @media screen and(max-width: #{$tabletWidth + px}) {
            width: 100%;
            flex-grow: 1;
        }
        &._sidebar-active {
            opacity: 0.3;
            z-index: -2;
        }
    }
}

////Content part

//Banner
.banner {
    width: 100%;
    display: flex;
    @include adaptiveValue("column-gap", 34, 8, $containerWidth, $smallDesktop);
    @include adaptiveValue("margin-bottom", 37, 15, $containerWidth, $tabletWidth);
    // .banner__section
    @media screen and (max-width: #{$smallDesktop + px}) {
        flex-direction: column;
        row-gap: 20px;
    }
    &__section {
        background-color: $cremWhite;
        display: flex;
        flex-basis: 50%;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        @include adaptiveValue("column-gap", 78, 50, $containerWidth, $smallDesktop);
        @include adaptiveValue("padding-left", 110, 50, $containerWidth, $smallDesktop);
        @include adaptiveValue("padding-right", 110, 50, $containerWidth, $smallDesktop);
        @media screen and (max-width: #{$mobileWidth  + px}) {
            padding: 40px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            row-gap: 20px;
        }
    }

    // .banner__picture

    &__picture {
        max-width: 170px;
        height: 113px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .banner__text

    &__text {
        font-weight: 300;
        letter-spacing: 0.08em;
        font-size: 1.25rem;
    }
}
//Catalog
.catalog {
    // .catalog__tags
    &__tags {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 13, 5, $containerWidth, $mobileWidth);
        @include adaptiveValue("margin-bottom", 29, 20, $containerWidth, $mobileWidth);
        @media screen and (max-width: #{$mobileWidth + px}) {
            justify-content: center;
            overflow: scroll;
            max-height: 300px;
        }
    }

    // .catalog__sort

    &__sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include adaptiveValue("margin-bottom", 29, 20, $containerWidth, $mobileWidth);
        @media screen and (max-width: #{$mobileWidth + px}) {
            justify-content: center;
        }
    }
    // .catalog__grid

    &__grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        gap: 42px;
        @include adaptiveValue("margin-bottom", 94, 50, $containerWidth, $mobileWidth);
    }

    // .catalog__search

    &__search {
        padding: 35px 30px;
        background-color: $cremWhite;
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 60, 20, $containerWidth, $mobileWidth);
        @include adaptiveValue("margin-bottom", 94, 50, $containerWidth, $mobileWidth);
        @media screen and (max-width: #{$mobileWidth + px}) {
            flex-direction: column;
        }
    }
}
.tags {
    // .tags__item

    &__item {
        border: 2px solid $blue;
        color: $blue;
        font-weight: 500;
        font-size: 0.875rem;
        padding: 10px 16px;
        background-color: white;
        border-radius: 37px;
        &._active {
            background-color: $blue;
            color: white;
        }
        &:hover {
            opacity: .2;
            background-color: $blue;
            color: white;
        }
    }
}

//Sorting
.sorting {
    // .sorting__title

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        margin-right: 10px;
    }

    // .sorting__select

    &__select {
        border: 1px solid $black;
        padding: 12px 31px 12px 12px;
        border-radius: 4px;
        background-image: url(../../assets/img/caret.svg);
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 95%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus {
            outline: none;
        }
        & option {
            font-family: "Stem", sans-serif;
            font-size: 0.75rem;
            font-weight: 300;
        }
    }
}
//Catalog grid
.grid-catalog {
    // .grid-catalog__item

    &__item {
        flex-basis: calc((100% / 3) - 42px);
        flex-grow: 1;
        background-color: $cremWhite;
        @include adaptiveValue("padding", 28, 20, $containerWidth, $mobileWidth);
        @media screen and (max-width: #{$mediumDesktop + px}) {
            flex-basis: calc((100% / 2) - 42px);
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-basis: calc(100% - 42px);
        }
    }
}
.catalog-item {
    // .catalog-item__picture

    &__picture {
        @include adaptiveValue("margin-bottom", 14, 8, $containerWidth, $mobileWidth);
        max-width: 364px;
        margin: 0 auto;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .catalog-item__title

    &__title {
        font-weight: 500;
        font-size: 1.125rem;
        color: $blue;
        text-align: center;
        @include adaptiveValue("margin-bottom", 31, 15, $containerWidth, $mobileWidth);
    }

    // .catalog-item__parameter

    &__parameter {
        // .catalog-item__parameter_name
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        &_name {
            text-align: left;
        }
        &_value {
            text-align: right;
        }
    }

    // .catalog-item__info

    &__info {
        @include adaptiveValue("margin-top", 31, 15, $containerWidth, $mobileWidth);
        @include adaptiveValue("margin-bottom", 25, 15, $containerWidth, $mobileWidth);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .catalog-item__price

    &__price {
        // .catalog-item__price_old
        font-size: 1.25rem;
        color: $blue;
        font-weight: 500;
        &_old {
            font-size: 0.875rem;
            font-weight: 300;
            color: $black;
            text-decoration: line-through;
        }
    }

    // .catalog-item__status

    &__status {
        font-size: 0.875rem;
        text-align: right;
        white-space: nowrap;
        & span {
            font-family: "Stem", sans-serif;
            font-weight: 300;
            font-size: 0.875rem;
            @media screen and (max-width: #{$minWidth + px}) {
                font-size: 0.75rem;
            }
        }
        &._icon-check::before {
            color: #c5f3af;
        }
        &._icon-close::before {
            color: #f3d8af;
        }
        @media screen and (max-width: #{$minWidth + px}) {
            font-size: 0.75rem;
        }
    }

    // .catalog-item__toolbar

    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: #{$tabletWidth + px}) {
            justify-content: center;
        }
        @media screen and (max-width: #{$mobileWidth + px}) {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    // .catalog-item__cart

    &__cart {
        background-color: #fff;
        border-radius: 20px;
        font-size: 1.125rem;
        font-weight: 300;
        padding: 9px 28px;
        text-align: center;
        display: flex;
        align-items: center;
        & span {
            margin-left: 10px;
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            margin-right: 15px;
        }
        @media screen and (max-width: #{$mobileWidth + px}) {
            margin-right: 0;
        }
    }

    // .catalog-item__options
    &__options {
        // .catalog-item__options_item
        display: flex;
        &_item {
            & a {
                display: inline-block;
                background-color: white;
                border-radius: 50%;
                padding: 12px;
            }
            //Сделал отступ таким, так как в этот тулбар могут добавить ещё элементов
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 23, 5, $containerWidth, $mobileWidth);
            }
        }
    }
}

//Search Form

.search-catalog {
    // .search-catalog__input

    &__input {
        flex-basis: 90%;
        @media screen and (max-width: #{$mobileWidth + px}) {
            width: 100%;
        }
        & input {
            width: 100%;
            line-height: 54px;
            @include adaptiveValue("padding-left", 36, 20, $containerWidth, $mobileWidth);
            font-weight: 300;
            font-size: 1.125rem;
            color: #d7d5d5;
            letter-spacing: 0.04em;
            @media screen and (max-width: #{$mobileWidth + px}) {
                font-size: 0.9rem;
            }
        }
    }

    // .search-catalog__btn

    &__btn {
        flex-basis: 10%;
        & a,
        input {
            background-color: $blue;
            padding: 16px 61px;
            font-size: 1.125rem;
            font-weight: 500;
            border-radius: 27px;
            color: white;
        }
        @media screen and (max-width: #{$mobileWidth + px}) {
            margin-top: 30px;
        }
    }
}

//Advantages

.advantages {
    width: 100%;
    @include adaptiveValue("margin-bottom", 100, 40, $containerWidth, $mobileWidth);
    // .advantages__title
    &__title {
        margin-left: 0;
        margin-right: auto;
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $mobileWidth);
    }

    // .advantages__content

    &__content {
        display: flex;
        @include adaptiveValue("gap", 42, 15, $containerWidth, $mobileWidth);
        @media screen and (max-width: #{$smallDesktop + px}) {
            flex-direction: column;
        }
    }

    // .advantages__list

    &__list {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("row-gap", 42, 15, $containerWidth, $mobileWidth);
    }

    // .advantages__banner

    &__banner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 387px;
        background-image: url(../../assets/img/advantages/slider_main5.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    // .advantages__item

    &__item {
        flex-basis: 100%;
        flex-grow: 1;
    }

    // .advantages__text

    &__text {
        font-weight: 500;
        color: $blue;
        font-size: 2.25rem;
        max-width: 397px;
        padding: 5px;
        @media screen and (max-width: #{$mobileWidth + px}) {
            font-size: 1.6rem;
            background-color: rgba(255, 255, 255, 0.2);
            width: 100%;
        }
    }
}

.adv-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cremWhite;
    @include adaptiveValue("gap", 36, 15, $containerWidth, $mobileWidth);
    padding: 25px 50px;
    @media screen and (max-width: #{$mobileWidth + px}) {
        flex-direction: column;
        text-align: center;
    }
    // .adv-item__icon
    &__icon {
        width: 52.07px;
        height: 52.07px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .adv-item__text

    &__text {
        white-space: nowrap;
        @media screen and (max-width: #{$mobileWidth + px}) {
            white-space: inherit;
        }
    }
}

//Schema

.schema {
    width: 100%;
    @include adaptiveValue("margin-bottom", 100, 20, $containerWidth, $mobileWidth);
    &__title {
        margin-left: 0;
        margin-right: auto;
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $mobileWidth);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        min-height: 480px;
        gap: 20px;
        flex-wrap: wrap;
        @media screen and (max-width: #{$smallDesktop + px}) {
            justify-content: left;
        }
        @media screen and (max-width: #{$mobileWidth + px}) {
            justify-content: center;
        }
    }

    // .schema__item

    &__item:nth-child(2),
    &__item:nth-child(4) {
        align-self: flex-end;
        @media screen and (max-width: #{$smallDesktop + px}) {
            align-self: flex-start;
        }
    }

    &__item {
        background-color: $cremWhite;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        width: 208px;
        height: 208px;
        column-gap: 7px;
        // .schema__item_title
        &_title {
            font-size: 1.75rem;
            font-weight: 500;
        }

        // .schema__item_text

        &_text {
            max-width: 175px;
            font-size: 1.125rem;
        }
    }
}

.news {
    // .news__title
    @include adaptiveValue("margin-bottom", 276, 100, $containerWidth, $mobileWidth);
    &__title {
        margin-left: 0;
        margin-right: auto;
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $mobileWidth);
    }

    // .news__content

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 42px;
    }

    // .news__item

    &__item {
        flex-basis: calc((100% / 3) - 42px);
        flex-grow: 1;
        @media screen and (max-width: #{$mediumDesktop + px}) {
            flex-basis: calc((100% / 2) - 42px);
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-basis: calc(100% - 42px);
        }
    }

    // .news__picture

    &__picture {
        margin-bottom: 20px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .news__header
    &__header {
        font-weight: 500;
        font-size: 1.125rem;
        margin-bottom: 16px;
    }

    // .news__text

    &__text {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }

    // .news__btn

    &__btn {
        display: inline-block;
        padding: 9px 28px;
        border-radius: 20px;
        background-color: $cremWhite;
    }
}

//callback

.callback {
    display: flex;
    width: 100%;
    background-color: $cremWhite;
    // .callback__picture
    position: relative;
    @include adaptiveValue("margin-bottom", 114, 35, $containerWidth, $mobileWidth);
    &__picture {
        & img {
            @include adaptiveValue("height", 592, 492, $containerWidth, $tabletWidth);
            @include adaptiveValue("width", 317, 217, $containerWidth, $tabletWidth);
            position: absolute;
            bottom: 0;
            left: 2%;
            transform: translateX(35%);
            object-fit: cover;
        }
        @media screen and (max-width: #{$smallDesktop + px}) {
            display: none;
        }
    }

    // .callback__form

    &__form {
        padding: 15px;
    }
}
.form-cb {
    // .form-cb__title
    align-self: flex-end;
    @include adaptiveValue("margin-right", 250, 0, $containerWidth, $smallDesktop);
    margin-left: auto;
    @include adaptiveValue("margin-bottom", 78, 10, $containerWidth, $mobileWidth);
    @include adaptiveValue("margin-top", 65, 10, $containerWidth, $mobileWidth);
    @media screen and (max-width: #{$smallDesktop + px}) {
        align-self: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.04em;
        margin-bottom: 5px;
    }

    // .form-cb__description

    &__description {
        color: $blue;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
        &_big {
            font-size: 2.25rem;
        }
    }

    & form {
        & input[type="text"] {
            margin-bottom: 26px;
        }
    }

    & form input[type="text"] {
        @include adaptiveValue("width", 420, 250, $containerWidth, $mobileWidth);
        @include adaptiveValue("padding-left", 36, 10, $containerWidth, $mobileWidth);
        color: $black;
        line-height: 54px;
        &::placeholder {
            color: $black;
            letter-spacing: 0.04em;
            font-size: 1.125rem;
            font-weight: 300;
        }
    }

    & form input[type="submit"] {
        color: white;
        background-color: $blue;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-size: 1.125rem;
    }

    // .form-cb__submit

    &__submit {
        display: inline-block;
        padding: 14px 46px;
        background-color: $blue;
        border-radius: 27px;
        color: white !important;
    }
}

//Contacts

.contacts {
    // .contacts__title
    @include adaptiveValue("margin-bottom", 140, 60, $containerWidth, $mobileWidth);
    width: 100%;
    &__title {
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $mobileWidth);
    }

    // .contacts__content

    &__content {
        display: flex;
        gap: 82px;
        @media screen and (max-width: #{$smallDesktop + px}) {
            flex-direction: column;
        }
    }

    // .contacts__map

    &__map {
        flex-basis: 60%;
        min-height: 553px;
    }

    // .contacts__info

    &__info {
        flex-basis: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        // .contacts__info_text
        @media screen and (max-width: #{$smallDesktop + px}) {
            align-items: center;
            text-align: center;
        }
        &_text {
            font-size: 1.75rem;
            font-weight: 500;
            text-transform: uppercase;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 51, 30, $containerWidth, $mobileWidth);
            }
        }

        // .contacts__info_icons

        &_icons {
            @include adaptiveValue("margin-bottom", 81, 60, $containerWidth, $mobileWidth);
            display: flex;
        }
    }

    // .contacts__icon

    &__icon {
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 17, 10, $containerWidth, $mobileWidth);
        }
        & a {
            background-color: $blue;
            color: white;
            padding: 10px;
            border-radius: 50%;
        }
    }

    // .contacts__btn

    &__btn {
        & a {
            font-weight: 500;
            font-size: 1.125rem;
            padding: 16px 44px;
            background-color: $blue;
            color: white;
            border-radius: 27px;
        }
    }
}

.footer {
    // .footer__copyright
    width: 100%;
    background-color: $cremWhite;
    @include adaptiveValue("padding-top", 36, 20, $containerWidth, $mobileWidth);
    @include adaptiveValue("padding-left", 32, 20, $containerWidth, $mobileWidth);
    @include adaptiveValue("padding-bottom", 40, 20, $containerWidth, $mobileWidth);
    &__copyright {
        font-size: 1.125rem;
        font-weight: 300;
        letter-spacing: 0.04em;
        margin-bottom: 31px;
    }

    // .footer__nav

    &__nav {
        & ul li {
            display: inline-block;
            color: $blue;
            font-size: 0.875rem;
            letter-spacing: 0.04em;
            font-weight: 300;
            text-decoration: underline;
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 55, 20, $containerWidth, $mobileWidth);
                margin-bottom: 8px;
            }
        }
    }
}

//Portfolio

.portfolio {
    width: 100%;
    // .portfolio__title
    @include adaptiveValue("margin-bottom", 42, 30, $containerWidth, $mobileWidth);
    &__title {
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $mobileWidth);
    }

    // .portfolio__content

    &__content {
        width: 100%;
    }

    // .portfolio__slider

    &__slider {
        display: flex;
        @include adaptiveValue("margin-bottom", 35, 20, $containerWidth, $mobileWidth);
    }

    // .portfolio__slide

    &__slide {
        overflow: hidden;
        height: 100%;
        width: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .slick-vertical .slick-slide {
        border: none;
        outline: none;
    }

    // .portfolio__controller

    &__controller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        & .arrow {
            width: 15px;
            height: 15px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:hover {
                cursor: pointer;
            }
        }
        & .arrow._next {
            transform: rotate(180deg);
        }
        &_dots {
            width: 100%;
            height: 1px;
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                column-gap: 31px;
                li {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #e3e4e5;
                    & button {
                        display: none;
                    }
                    &.slick-active {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 2px;
                            width: 70%;
                            background-color: $black;
                        }
                    }
                }
            }
        }
    }
}

//Feedback

.feedback {
    width: 100%;
    display: flex;
    @include adaptiveValue("column-gap", 152, 130, $containerWidth, $mediumDesktop);
    @include adaptiveValue("margin-bottom", 100, 30, $containerWidth, $tabletWidth);
    @media screen and (max-width: #{$mediumDesktop + px}) {
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }

    // .feedback__title

    &__title {
        @include adaptiveValue("margin-bottom", 42, 20, $containerWidth, $tabletWidth);
    }

    // .feedback__slider
    &__slider {
        flex-basis: 30%;
        flex-grow: 1;
        @media screen and (max-width: #{$mediumDesktop + px}) {
            width: 100%;
        }
        // .feedback__slider_wrapper
        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            & ._prev,
            ._next {
                @media screen and (max-width: #{$mobileWidth + px}) {
                    display: none !important;
                }
            }
        }
    }

    &__inner {
        width: 80%;
        @media screen and (max-width: #{$mobileWidth + px}) {
            width: 100%;
            height: 80%;
        }
    }

    // .feedback__slide

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            object-fit: contain;
            margin: 0 auto;
        }
    }

    // .feedback__arrow

    &__arrow {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 5px;
        box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
        border-radius: 50%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &._next {
            transform: rotate(180deg);
        }
    }

    &__mobile {
        &_nav {
            display: flex;
            justify-content: center;

            @media screen and (min-width: #{$mobileWidth + px}) {
                display: none;
            }
            & div {
                margin: 0 10px;
            }
        }
    }

    // .feedback__certif

    &__certif {
        flex-basis: 70%;
        @media screen and (max-width: #{$mediumDesktop + px}) {
            width: 100%;
        }
        flex-grow: 1;
        // .feedback__certif_grid

        &_grid {
            display: flex;
            flex-wrap: wrap;
            gap: 42px;
        }

        // .feedback__certif_item

        &_item {
            min-height: 250px;
            background-color: #faf8f7;
            flex-basis: calc((100% / 4) - 42px);
            align-items: center;
            flex-grow: 1;
            @media screen and (max-width: #{$largeDesktop + px}) {
                flex-basis: calc((100% / 3) - 42px);
            }
            @media screen and (max-width: #{$mediumDesktop + px}) {
                flex-basis: calc((100% / 4) - 42px);
            }
            @media screen and (max-width: #{$smallDesktop + px}) {
                flex-basis: calc((100% / 2) - 42px);
            }
            @media screen and (max-width: #{$mobileWidth + px}) {
                flex-basis: 100%;
            }
        }
    }
}

.sidebar {
    // .sidebar__title

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        padding-bottom: 11px;
        margin-bottom: 18px;
        border-bottom: 2px solid #d7d5d5;
    }

    &__active {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        border-radius: 0% 50% 50% 0%;
        padding: 10px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover {
            cursor: pointer;
        }
        &._disable {
            display: none;
        }
        @media screen and (min-width:calc(#{$tabletWidth + px} + 1px)) {
            display: none;
        }
    }
}
.scrollbar {
    // .scrollbar__title
    border-bottom: 2px solid #d7d5d5;
    padding-bottom: 28px;
    margin-bottom: 22px;
    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        padding-bottom: 11px;
        margin-bottom: 5px;
    }

    &__container {
        width: 100%;
        margin-bottom: 28px;
    }

    &__slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 2px;
        background-color: #59abf8;
        outline: none;
        opacity: 1;
        &::-webkit-slider-thumb {
            background-color: $blue;
        }
    }

    // .scrollbar__options

    &__options {
        display: flex;
        align-items: center;
        @media screen and (max-width: #{$smallDesktop + px}) {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    // .scrollbar__value

    &__value {
        & input {
            width: 100%;
            padding: 10px 0;
            border: 1px solid $black;
            border-radius: 4px;
            font-size: 0.875rem;
            font-weight: 300;
            text-align: center;
        }
    }

    // .scrollbar__line

    &__line {
        width: 20px;
        margin: 0 17px;
        height: 1px;
        background-color: $black;
    }
}

.list {
    // .list__title
    padding-bottom: 11px;
    border-bottom: 2px solid #d7d5d5;
    margin-bottom: 12px;
    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 18px;
    }

    // .list__search

    &__search {
        margin-bottom: 20px;
        & input[type="text"] {
            border-radius: 4px;
            border: 1px solid $black;
            width: 100%;
            padding: 12px 0 12px 12px;
            background-image: url(../../assets/icons/search.svg);
            background-repeat: no-repeat;
            background-size: -20%;
            background-position-y: 50%;
            background-position-x: 95%;
            &::placeholder {
                color: $black;
            }
            &:focus {
                outline: none;
            }
        }
    }

    // .list__checkbox

    &__checkbox {
        // .list__checkbox_item
        max-height: 248px;
        padding: 5px;
        margin-bottom: 12px;
        overflow-y: scroll;
        overflow-x: hidden;
        &._not-overflow {
            overflow: hidden;
        }
        /* width */
        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #e3e4e6;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            width: 5px;
            height: 10px;
            border-radius: 4px;
            background-color: #8b8b8b;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: #8b8b8b;
        }

        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            & input[type="checkbox"] {
                padding: 10px;
                transform: scale(1.3);
                border: 1px solid $black;
                outline: none;
                box-shadow: none;
                margin-right: 12px;
            }
        }
    }
}
